#main{
  width:500px;
  height:300px;
}
.container{
  display: flex;
}
.LinkBox{
  width: 100px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height:50px;
  cursor: pointer;
  border: 1px dashed #ccc;
}
.begin{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  background: #ff7904;
}